---
import Layout from "../layouts/home.astro";
---
<style>
    /* Define custom animations */
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
</style>

<Layout title="Inkcrafters">
  <div class="flex justify-center items-center h-screen">
    <div class="text-center">
      <p class="text-8xl text-yellow-500 animate-pulse">🚧</p>
        <p class="text-4xl mt-4 text-gray-800">We apologize for the inconvenience</p>
        <p class="text-2xl mt-2 text-gray-600">Our business is currently not operational!</p>
    </div>
  </div>
</Layout>