---
interface Props {
    title: string;
    image: string;
}

const { title, image } = Astro.props;
---

<div class="space-y-2 xl:space-y-4">
    <img
        src={image}
        alt="Image"
        class="hover:opacity-75 transition ease-in-out duration-300"
    />

    <a
        href="#"
        class="block font-semibold text-gray-700 text-xl md:text-2xl hover:text-orange-500 transition ease-in-out duration-300"
        >{title}</a
    >
</div>
